In [25]:
from pandas_datareader import data
import datetime
from bokeh.plotting import figure, show, output_file

start = datetime.datetime(2016,3,1)
end = datetime.datetime(2016,3,10)

df = data.DataReader(name="GOOG", data_source ="yahoo",start=start,end=end)
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2016-02-29,710.890015,697.679993,700.320007,697.770020,2481100,697.770020
2016-03-01,718.809998,699.770020,703.619995,718.809998,2151400,718.809998
2016-03-02,720.000000,712.000000,719.000000,718.849976,1629000,718.849976
2016-03-03,719.450012,706.020020,718.679993,712.419983,1958000,712.419983
2016-03-04,716.489990,706.020020,714.989990,710.890015,1972100,710.890015
2016-03-07,708.091003,686.900024,706.900024,695.159973,2985100,695.159973
2016-03-08,703.789978,685.340027,688.590027,693.969971,2076300,693.969971
2016-03-09,705.679993,694.000000,698.469971,705.239990,1421500,705.239990
2016-03-10,716.440002,703.359985,708.119995,712.820007,2833500,712.820007

In [ ]:
data_increase = df.index[df.Close>df.Open]
data_decrease = df.index[df.Close<df.Open]

In [28]:
p = figure(x_axis_type='datetime', width=1000, height=300)
p.title.text = "Candlestick Chart"

hours_12 = 12*60*60*1000 

p.rect(df.index[df.Close > df.Open],(df.Open+df.Close)/2,hours_12, 
    abs(df.Open-df.Close), fill_color="green",line_color="black")

p.rect(df.index[df.Close < df.Open],(df.Open+df.Close)/2,hours_12, 
    abs(df.Open-df.Close), fill_color="red",line_color="black")



output_file("CS.html")
show(p)

BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('x', 4), ('y', 9)
BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('height', 9), ('x', 4), ('y', 9)
BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('x', 5), ('y', 9)
BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('height', 9), ('x', 5), ('y', 9)